<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2009 Steffen Pingel and others.
 
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0
 
    SPDX-License-Identifier: EPL-2.0

    Contributors:
         Steffen Pingel - initial API and implementation
         Tasktop Technologies - improvements
 -->
<plugin>
   <extension
         id="org.eclipse.mylyn.jira.repository"
         name="%repository.name"
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorUi
            brandingIcon="icons/eview16/jira-icon.gif"
            class="org.eclipse.mylyn.internal.jira.ui.JiraConnectorUi"
            id="jira"
            name="%JiraConnectorUi.name"
            overlayIcon="icons/eview16/overlay-jira.gif"/>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="org.eclipse.mylyn.internal.jira.ui.editor.JiraTaskEditorPageFactory"
            id="org.eclipse.mylyn.jira.ui.pageFactory">
      </pageFactory>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector            
            class="org.eclipse.mylyn.internal.jira.ui.JiraHyperlinkDetector"
            id="org.eclipse.mylyn.jira.ui.hyperlinksDetectors.Jira"
            name="%JiraHyperlinkDetector.name"
            targetId="org.eclipse.mylyn.tasks.ui.TaskEditor">
      </hyperlinkDetector>
   </extension>
</plugin>
