<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.mylyn.jira.repository"
         name="%repository.name"
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="org.eclipse.mylyn.internal.jira.core.JiraRepositoryConnector"
            id="jira"
            name="%JiraRepositoryConnector.name"/>
      <taskListMigrator
            class="org.eclipse.mylyn.internal.jira.core.JiraTaskListMigrator">
      </taskListMigrator>
      <repositoryMigrator
            class="org.eclipse.mylyn.internal.jira.core.JiraRepositoryMigrator">
      </repositoryMigrator>
   </extension>
   <extension
         point="org.eclipse.mylyn.jira.core.templates">
      <repository
            addAutomatically="false"
            anonymous="true"
            label="Edgewall"
            repositoryKind="jira"
            urlRepository="http://jira.whatisedgewall.org"
            version="JIRA_0_9"/>
   </extension>
</plugin>
